# Frontend Environment Variables
VITE_API_URL=https://crime-intel-backend-50044277156.development.catalystappsail.in
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_BROWSER_KEY=
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_TRACKING_ID=
